// Admin.scss

.admin-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    font-family: var(--font-family);
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .mainRoomCheck {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    label {
      font-family: var(--font-family);
      font-weight: bold;
      color: #555;
    }

    select {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      color: #333;
      background-color: #fff;
      font-family: var(--font-family);

      &:focus {
        border-color: #007bff;
        outline: none;
        box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.5);
      }
    }

    input,
    textarea {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      font-family: var(--font-family);
    }

    textarea {
      resize: vertical;
    }

    button {
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-family: var(--font-family);

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
