@import "./media.scss";
footer {
  background: #14274a;
  min-height: 200px;
  color: white;
  position: relative;
  .arrow {
    display: flex;
    position: absolute;
    z-index: 9;
    top: -40px;
    left: 0;
    width: 100%;

    div {
      min-height: 40px;
      flex: 1;
      position: relative;
      background: transparent;
    }

    div:first-child::before,
    div:last-child::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }

    div:first-child::before {
      clip-path: polygon(80% 110%, 110% 110%, 100% 0);
      background-color: #14274a;
    }

    div:last-child::before {
      clip-path: polygon(0% 0%, 20% 110%, 0 110%);
      background-color: #14274a;
    }
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 75px 0;
    gap: 20px;
    @include media(700) {
      padding: 45px 0;
    }
    > div {
      flex: 1;
    }
    &__text {
      > h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 25px;
        letter-spacing: 0.15em;
        margin-bottom: 25px;
        span {
          font-family: var(--second-family);
          font-weight: 700;
          font-size: 9px;
          letter-spacing: 0.6em;
        }
      }
    }
    &__links {
      display: flex;
      flex-direction: column;
      gap: 20px;

      a,
      span {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;

        font-family: var(--font-family);
        font-size: 16px;
        color: #f7f7f7;
        @include media(1600) {
          font-size: 12px;
        }
      }
      form {
        display: flex;
        border: 3px solid #e0b973;
        border-radius: 10px;
        overflow: hidden;
        min-width: 200px;
        input {
          outline: none;
          border: none;
          background-color: transparent;
          padding: 10px;
          width: 100%;

          font-family: var(--font-family);
          color: #fff;
        }
        button {
          width: 100%;
          height: 100%;
          border: none;
          background-color: #e0b973;
          padding: 15px 25px;

          font-family: var(--font-family);
          font-weight: 600;
          color: #14274a;
        }
      }
    }
  }
}
