header {
  display: flex;
  min-height: 100vh;
  background-image: url("header.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .headerWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 100px;
    padding-bottom: 50px;
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      width: 40%;
      p {
        display: flex;
        flex-direction: column;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 45px;
        color: #fff;
        span {
          font-family: var(--second-family);
          font-weight: 700;
          font-size: 100px;
          letter-spacing: 0.07em;
          color: #fff;
        }
      }
      span {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.1em;
        color: #fff;
      }
    }

    button {
      display: flex;
      align-items: center;
      align-self: center;
      gap: 5px;
      background-color: #e0b973;
      width: fit-content;
      padding: 20px;
      border: none;
      border-radius: 10px;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 25px;
      color: #fff;
    }
    .scroll {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 25px;
      letter-spacing: 0.05em;
      color: #fff;
    }
  }
}
