.mainHolder {
  > h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #14274a;
    text-align: center;
    margin: 90px 0;
  }
  .roomCard {
    border: solid;
  }
}
