@import "./media.scss";

nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  @include media(500) {
    justify-content: center;
  }
  .logo {
    background-color: #e0b973;
    font-family: var(--second-family);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    gap: 5px;
    border-radius: 0 0 50px 1px;
    transition: all 0.2s ease-in-out;

    span {
      font-size: 10px;
      font-weight: 500;
    }

    @include media(500) {
      position: absolute;
      left: 0;
      transform: translateY(-90%);
      &:hover {
        transform: translateY(0%);
      }
    }
  }
  ul {
    font-family: var(--font-family);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    min-width: 30%;
    flex-shrink: 0;
    padding: 45px 0;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 5px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 20px;
      color: #fff;
      &::after {
        content: "";
        height: 3px;
        width: 0%;
        background-color: #fff;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
}
