.card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s;
  position: relative;
  font-family: var(--third-family);
  &__select-wrapper {
    select {
      width: 100%;
      padding: 10px 0; /* Оставляем место для иконки */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
    }
  }

  input {
    border: none;
    padding: 5px 0;
    outline: none;
  }
  &__function {
    display: flex;
    position: absolute;
    top: 0;
    font-size: 35px;
    justify-content: space-between;
    width: 100%;
    &__icon {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 5px;
      width: 45px;
      height: 45px;
      border-radius: 5px;
    }
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-content {
    padding: 16px;
    background-color: white;
  }
  &-category {
    font-size: 1em;
    font-family: var(--font-family);
  }

  &-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 4px;
  }

  &-subtitle {
    color: #888;
    font-size: 0.9em;
    margin-bottom: 8px;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    div {
      display: flex;
      align-items: center;
      gap: 3px;
    }
  }

  .rating {
    font-weight: bold;
    width: 50px;
  }

  .price {
    font-weight: bold;
    width: 50px;
  }

  &-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;

    & i {
      font-size: 1.2em;
      color: #555;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #2a2a2a;
      }
    }
  }
}

.horizontalCard {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  padding: 50px;
  margin: 50px 0;
  position: relative;
  &::before {
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 2px;
    height: 80%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
  }
  &__imageHolder {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    min-width: 350px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
  &__buttonHolder {
    width: fit-content;
  }
  &__text {
    flex: 1;
    padding: 1rem;
    > h2 {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 40px;
      letter-spacing: 0.02em;
      color: #14274a;
    }
    > p {
      font-family: var(--font-family);
      font-size: 20px;
      line-height: 160%;
      color: #14274a;
      margin: 25px 0;
    }
  }
}

.card-button {
  display: block;
  width: 100%;
  padding: 12px;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 16px;
  text-transform: uppercase;

  &.explore {
    background-color: #e0b973;
    &:hover {
      background-color: #d0a85e;
      transform: scale(1.01);
    }
    &:active {
      background-color: #c69b4b;
      transform: scale(1);
    }
  }
  &.edit {
    background-color: #73e0a0;
    &:hover {
      background-color: #50bf7e;
      transform: scale(1.01);
    }
    &:active {
      background-color: #3eb26e;
      transform: scale(1);
    }
  }
}
