.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: fit-content;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-slide {
  opacity: 0.3 !important;
}
.swiper-slide-active {
  opacity: 1 !important;
  transform: scale(1.2) !important;
}
