@import "./media.scss";
.testimonials {
  text-align: center;
  margin: 50px 0;
  position: relative;
  @include media(1600) {
    margin: 10px 0;
  }
  &__card {
    h3 {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 60px;
      color: #14274a;
      @include media(1600) {
        font-size: 40px;
      }
      @include media(450) {
        font-size: 30px;
      }
    }

    p {
      font-family: var(--font-family);
      font-size: 30px;
      color: #14274a;
      margin: 25px 0;
      @include media(1600) {
        font-size: 20px;
      }
      @include media(450) {
        font-size: 17px;
      }
    }
    span {
      font-family: var(--font-family);
      font-size: 25px;
      color: #14274a;
      @include media(1600) {
        font-size: 15px;
      }
    }
    .mySwiper {
      form {
        font-family: var(--font3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        input,
        textarea {
          border: 0.5px solid lightgrey;
          border-radius: 5px;
          padding: 7px;
          width: 200px;
          @include media(300) {
            width: 80%;
          }
        }
      }
    }

    &__button {
      background-color: #e0b973;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 10px;
      margin-top: 10px;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  }
  .swiper-button-prev,
  .swiper-button-next {
    margin: 20px 10px;
    background-color: #e0b973;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 25px;
    top: unset;
    bottom: -20px;

    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1);
    }
    &::after {
      font-size: 20px !important;
    }
    @include media(450) {
      padding: 5px 20px;
    }
  }
  .swiper-button-next {
    right: 22%;
  }
  .swiper-button-prev {
    left: 22%;
  }
}
