@import "./media.scss";
.testimonials {
  text-align: center;
  margin: 50px 0;
  @include media(1600) {
    margin: 10px 0;
  }
  &__card {
    h3 {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 60px;
      color: #14274a;
      @include media(1600) {
        font-size: 40px;
      }
      @include media(450) {
        font-size: 30px;
      }
    }

    p {
      font-family: var(--font-family);
      font-size: 30px;
      color: #14274a;
      margin: 25px 0;
      @include media(1600) {
        font-size: 20px;
      }
      @include media(450) {
        font-size: 17px;
      }
    }
    span {
      font-family: var(--font-family);
      font-size: 25px;
      color: #14274a;
      @include media(1600) {
        font-size: 15px;
      }
    }
  }
  &__buttons {
    button {
      margin: 20px 10px;
      background-color: #e0b973;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 10px;
      @include media(450) {
        padding: 5px;
      }
    }
  }
}
