@import "./media.scss";
.totalRooms {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  @include media(450) {
    grid-template-columns: 1fr;

    font-size: 30px;
  }
  > h2 {
    grid-column: span 3;
    margin-top: 50px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #14274a;
    @include media(1600) {
      font-size: 40px;
    }
    @include media(450) {
      font-size: 30px;
      grid-column: span 1;
    }
  }
}
