.totalRooms {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  h2 {
    grid-column: span 3;
    margin-top: 50px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #14274a;
  }
}
